= form_for([@domain, @user, @dyndns_hostname], :html => { :class => 'form-horizontal' }) do |f|
  = render :partial => 'shared/form_errors', :locals => { :obj => @dyndns_hostname }
  = f.label :name, :class => 'control-label'
  .control-group
    .controls= f.text_field(:name)
  .form-actions
    = f.submit t(:save), class: 'btn btn-primary'
    = link_to t(:cancel), [@domain, @user, @dyndns_hostname], class: 'btn'
