.page-header
  %h1= t :log_in

= form_tag(create_login_path, { :class => 'form-horizontal' }) do
  .control-group 
    = label_tag :email, 'Email', :class => 'control-label'
    .controls= text_field_tag :email
  .control-group
    = label_tag :password, t(:password), :class => 'control-label'
    .controls= password_field_tag :password
  .form-actions
    = submit_tag 'Login', class: 'btn btn-info'
