= form_for([@domain, @user], :html => { :class => 'form-horizontal' }) do |f|
  = render :partial => 'shared/form_errors', :locals => { :obj => @user }
  - if @user.created_at.blank?
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        .input-append
          #{f.text_field(:name)}
          %span.add-on @#{@domain.name}
  .control-group
    = f.label :password, :class => 'control-label'
    .controls= f.password_field :password
  .control-group
    = f.label :password_confirmation, :class => 'control-label'
    .controls= f.password_field :password_confirmation
  .control-group
    = f.label t(:forward_destination), :class => 'control-label'
    .controls= f.text_field :forward_destination
  .control-group
    -# TODO: let admins uplevel others to admin — but don't let them uplevel anyone to superadmin.
    -# TODO: use cancan's roles for rights-checking.
    - if (current_user.superadmin? && ! @user.postmaster?)
      = f.label :role, :class => 'control-label'
      .controls= f.collection_select :role, ROLES, :to_s, :humanize
  .form-actions
    = f.submit t(:save), class: 'btn btn-primary'
    = link_to t(:cancel), [@domain, @user], class: 'btn'
