= form_for(@user) do |f|
  = render :partial => 'forwards/form_errors', :locals => { :obj => @user }
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit
