%h1 Editing user #{@user.name}

= form_for(@user) do |f|
  = render :partial => 'shared/form_errors', :locals => { :obj => @user }
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit

= link_to 'Show', @user
