.page-header
  %h1
    - if @filter_initial.present?
      #{@filter_initial}&hellip;
    - else
      #{t(:latest_users)}
    @#{@domain}
  = render 'shared/initials_filter'

.pull-right= link_to t('.users.new'), new_domain_user_path(@domain), :class => 'btn btn-primary'

%ul= render @users
