= render :partial => 'layouts/pagehead', :locals => { :domain => @user.domain }

%h2 #{@user.name}@#{@user.domain.name}

%h3 Forwards
%ul= render :partial => 'forwards/forward', :collection => @forwards

= link_to 'Edit', edit_domain_user_path(@user.domain, @user)
= link_to 'Delete', [@user.domain, @user], method: :delete, data: { confirm: 'Are you sure?' }
