= render 'layouts/pagehead'

%h1= @domain.name
= link_to 'Delete', @domain, method: :delete, data: { confirm: 'Are you sure?' }

%hr

%h2 Users
%ul= render :partial => 'users/user', :collection => @domain.users
= link_to 'New User', new_domain_user_path(@domain)

%hr

%h2 Forwards
%ul= render :partial => 'forwards/forward', :collection => @domain.forwards
= link_to 'New Forward', new_domain_forward_path(@domain)

