= render 'layouts/pagehead'

%h1= @domain.name
= link_to 'Delete', @domain, method: :delete, data: { confirm: 'Are you sure?' }

%hr

%h2 Users
%ul
  - @domain.users.each do |user|
    %li= link_to(user.name, user)

= link_to 'New User', new_user_path

%hr
%h2 Forwards
%ul= render :partial => 'forwards/forward', :collection => @domain.forwards

= link_to 'New Forward', new_forward_path

