.page-header
  %h1= @domain.name

.well
  %h4 Meta
  .pull-right
    - if @domain.destroyable?
      = link_to t('.destroy', :default => t("helpers.links.destroy")), confirm_destroy_domain_path(@domain), :class => 'btn btn-danger'
  %ul
    %li #{t(:created_at)}: #{l @domain.created_at}.
    %li #{t(:updated_at)}: #{l @domain.updated_at}.

.well
  %h4 Admins
  %ul= render @domain.admins

.well
  %h4 Latest Users
  .pull-right= link_to t('.users.new', :default => t("helpers.links.new")), new_domain_user_path(@domain), :class => 'btn btn-primary'

  - if (users = @domain.users.latest(5)).present?
    %ul= render users
    = link_to t('more_users'), domain_users_path(@domain)
  .clearfix


.well
  %h4= t('latest_forwards')
  .pull-right= link_to t('.forwards.new', :default => t("helpers.links.new")), new_domain_forward_path(@domain), :class => 'btn btn-primary'

  - if (forwards = @domain.forwards.latest(5)).present?
    %ul= render forwards
    = link_to t('more_forwards'), domain_forwards_path(@domain)
  .clearfix

