= form_for([@domain, @forward], :html => { :class => 'form-horizontal' }) do |f|
  = render :partial => 'shared/form_errors', :locals => { :obj => @forward }
  - if @forward.created_at.blank?
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        .input-append
          #{f.text_field :name}
          %span.add-on @#{@domain.name}
  .control-group
    = f.label :destination, :class => 'control-label'
    .controls= f.text_field :destination
  .actions
    = f.submit
