%h1 Editing forward #{@forward.name}@#{@domain.name}

-# TODO: refactor with "new".
= form_for([@domain, @forward]) do |f|
  = render :partial => 'shared/form_errors', :locals => { :obj => @forward }
  .field
    = f.label :destination
    = f.text_field :destination
  .actions
    = f.submit

= link_to 'Show', [@domain, @forward]
