<%= render :partial => 'layouts/breadcrumb', :locals => { :domain => @forwards.first.domain }  %>

<h1>Listing forwards</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Domain</th>
    <th>Destination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forwards.each do |forward| %>
  <tr>
    <td><%= forward.name %></td>
    <td><%= forward.domain.name %></td>
    <td><%= forward.destination %></td>
    <td><%= link_to 'Show', forward %></td>
    <td><%= link_to 'Edit', edit_forward_path(forward) %></td>
    <td><%= link_to 'Destroy', forward, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forward', new_forward_path %>
