.page-header
  %h1
    - if @filter_initial.present?
      #{@filter_initial}&hellip;
    - else
      #{t(:latest_forwards)}
    @#{@domain}
  = render 'shared/initials_filter'

.pull-right= link_to t('.new'), new_domain_forward_path(@domain), :class => 'btn btn-primary'


%ul= render @forwards

