= render :partial => 'layouts/pagehead', :locals => { :domain => @forward.domain }

%h1 #{@forward.name}@#{@forward.domain.name}

.destination
  Destination:
  = @forward.destination

= link_to 'Edit', edit_forward_path(@forward)
= link_to 'Destroy', @forward, method: :delete, data: { confirm: 'Are you sure?' }
