!!!
%html{:lang => 'en'}
  %head
    %title madmin
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          .brand madmin
          = render 'navbar'
    .container
      .row
        = render 'breadcrumb'
        .span10
          = render 'flashes'
          = yield
