!!!
%html{:lang => 'en'}
  %head
    %title madmin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          .brand madmin
          = render 'navbar'
    .container
      .row
        = render 'breadcrumb'
        .span10
          .text-info= flash[:notice]
          .text-error= flash[:error]
          = yield
