!!!
%html{:lang => 'en'}
  %head
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1'}
    %title madmin
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    = render 'navbar'
    .container
      .row
        = render 'breadcrumb'
        .span10
          = render 'flashes'
          = yield
